<div class="testimonial-area">
		{% if site.data.testimonials.show_testimonials_section == true %}
			<div class="testimonial-container">
				<div class="testimonial-navigation">
		  		<a class="testimonial-btn prev"><i class="fa fa-arrow-left"></i></a>
						<h3>Hear what people are saying about us:</h3>
		  		<a class="testimonial-btn next"><i class="fa fa-arrow-right"></i></a>
				</div>
				<div id="owl-carousel" class="owl-carousel">
		      {% for item in site.data.testimonials.testimonial %}
						<div class="item-container">
							<div class="item">
		            {{item.quote | prepend: '<p class="testimonial">' | append: '</p>'}}
		            {{item.name | prepend: '<p class="testimonial-attribute"> - ' | append: '</p>'}}
								<div class="testimonial-audio">
									{% if item.audio_URL != null %}
										<p>Listen to the whole Interview:</p>
										<audio class="jp-player-simple" src="{{item.audio_URL}}" preload="auto">Your browser does not support HTML5 audio, please <a href="http://browsehappy.com/">update your browser.</a></audio>
									{% endif %}
									<i class="fa fa-quote-right fa-2x"></i>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		{% endif %}
</div>
